@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Cairo", sans-serif;
}

header.header{
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed ;
}

header.header .overlay {
    background-color: rgba(239, 71, 58, 0.8);
    padding-top: 90px;
    position: relative;
}

header.header .overlay  .header-block {
    margin-top: 120px;
}

header.header .overlay  .header-block .header-brand{
    margin-bottom: 50px;

}

header.header .overlay  .header-block h1{
    font-size: 30px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 60px;
}

header.header .overlay  .header-block p {
    font-size: 18px;
    line-height: 33px;
    color: #fff;
    margin-bottom: 85px;
}

header.header .overlay  .header-buttons a img {
    width: 250px;
}

header.header .overlay  .header-buttons a:last-child img {
    height: 65px;

}

header.header .overlay .header-img img {
    max-width: 100%;
    position: absolute;
    bottom: -210px;
}

section.feature {
    padding: 80px 0;
    background-color: #fff;
    position: relative;
}
section.feature .features{
    margin-top: 90px;
}
section.feature .features.text-left {
    direction: ltr;
}

section.feature .features .d-flex{
    margin-bottom: 70px;
}

section.feature .features .d-flex .flex-shrink-0 i {
    width: 90px;
    height: 90px;
    line-height: 70px;
    color: #fff;
    background-color: #ef473a;
    text-align: center;
    display: block;
    border-radius: 2px;

}

section.feature .features .d-flex h5{
    font-size: 24px;
    color: #080808;
    margin-bottom: 12px;
}

section.feature .features .d-flex p {
    font-size: 15px;
    line-height: 20px;
    color: #757474;
}

section.feature .feature-img img {
    width: 80%;
}


section.option {
    padding-top: 120px;
    background-color:#f9f8f8;
    position: relative;
}

section.option .options {
    margin-top: 40px;
    margin-right: 40px;
}

section.option .options .d-flex {
    margin-bottom: 60px;
}

section.option .options .d-flex h5{
    font-size: 24px;
    line-height: 40px;
    color: #141414;
}

section.option .options .d-fle p {
    font-size: 15px;
    line-height: 20px;
    color: #757474;
}

section.option .option-img {
    position: absolute;
    bottom: -150;
}

section.slider {
    background-color: #fff;
    padding: 80px 0;
    position: relative;
}

section.slider .slider-text h3{
    font-size: 36px;
    color: #141414;
    margin-bottom: 60px;

}